body {
  margin: 0;
}

.fountain {
    cursor: pointer;
}

.hidden {
	display: none;
}

#infoBox {
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px auto;
    padding: 10px;
    position: absolute;
    width: 300px;
}

#infoBox .infoTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

#infoBox .info {
    font-size: 12px;
    margin: 0;
}

#infoBox .infoData {
    
}

#infoImg {
    margin-top: 10px;
    width: 100%;
}


.fountainMap path {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.fountainMap .water-layer, .fountainMap .river, .fountainMap .stream, .fountainMap .canal { fill: none; stroke: #9DD9D2; stroke-width: 1.5px; }
.fountainMap .water, .fountainMap .ocean { fill: #9DD9D2; }
.fountainMap .riverbank { 
  fill: #9DD9D2; 
}
.fountainMap .water_boundary, .fountainMap .ocean_boundary, .fountainMap .riverbank_boundary { fill: none; stroke: #93cbc4; stroke-width: 0.5px; }
.fountainMap .major_road { stroke: #fb7b7a; stroke-width: 1px; }
.fountainMap .minor_road { stroke: #999; stroke-width: 0.5px; }
.fountainMap .highway { stroke: #FA4A48; stroke-width: 1.5px; }
.fountainMap .buildings-layer { stroke: #987284; stroke-width: 0.15px; }
.fountainMap .park, .fountainMap .nature_reserve, .fountainMap .wood, .fountainMap .protected_land { fill: #88D18A; stroke: #88D18A; stroke-width: 0.5px; }
.fountainMap .pier { fill: #fff; stroke: #fff; stroke-width: 0.5px; }
.fountainMap .rail { stroke: #503D3F; stroke-width: 0.5px; }
