body {
  margin: 0;
}

path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #f39; stroke-width: 1.5px; }
.rail { stroke: #7de; }


.fountain {
    cursor: pointer;
}

.hidden {
	display: none;
}

#infoBox {
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px auto;
    padding: 10px;
    position: absolute;
    width: 300px;
}

#infoBox .infoTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

#infoBox .info {
    font-size: 12px;
    margin: 0;
}

#infoBox .infoData {
    
}

#infoImg {
    margin-top: 10px;
    width: 100%;
}